<h1>Top 5 Songs</h1>

<div class="row">
	<% @songs.each do |song| %>
		<div class="col-md-12">
			<div class="well">
				<h1><%= link_to song.name, song %></h1>
				<h3><%= link_to song.artist.name, song.artist %></h3>

				<h4>
					<% song.rating.times do  %>
						<i class="glyphicon glyphicon-star"></i>
					<% end %>
				</h4>
			</div>
		</div>
	<% end %>
</div>
